@charset "UTF-8";
/* Import Local Scss Files */
/* Font Icon : Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/* Font Family */
/* Color */
/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  list-style: none;
}

/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/* Font Family */
/* Color */
/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/************************************* Header *************************************/
.header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100px;
  padding: 0 100px;
  position: absolute;
  background-color: #fff;
  /* 검색창 */
}
.header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
}
.header .header_logo > a {
  display: block;
}
.header .header_logo > a img {
  width: 100%;
}
.header .header_nav {
  /* display: none; */
  height: inherit;
}
.header .header_nav .nav_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  text-align: center;
}
.header .header_nav .nav_lists .nav_list {
  -ms-flex-line-pack: center;
      align-content: center;
  /* &:hover{
    .dropdown{
      display: block;
    }
  } */
}
.header .header_nav .nav_lists .nav_list:nth-child(odd) .dropdown::before {
  border-color: #EF4C41;
  background-color: #EF4C41;
}
.header .header_nav .nav_lists .nav_list:nth-child(odd) .dropdown .inner .image {
  background-color: #EF4C41;
}
.header .header_nav .nav_lists .nav_list:nth-child(odd) .dropdown .inner .submenu ul li:hover {
  background-color: #FEEEEC;
  color: #EF4C41;
}
.header .header_nav .nav_lists .nav_list:nth-child(3) .dropdown .inner .submenu ul li:nth-child(3), .header .header_nav .nav_lists .nav_list:nth-child(4) .dropdown .inner .submenu ul li:nth-child(3), .header .header_nav .nav_lists .nav_list:nth-child(6) .dropdown .inner .submenu ul li:nth-child(3) {
  visibility: hidden;
}
.header .header_nav .nav_lists .nav_list > a {
  font-family: "pretendard", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #343434;
  text-decoration: none;
  display: block;
  padding: 30px 15px;
}
.header .header_nav .nav_lists .nav_list .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: white;
  overflow: hidden;
  max-height: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 10;
}
.header .header_nav .nav_lists .nav_list .dropdown::before {
  content: "";
  display: block;
  border: 1px solid #3DB149;
  background-color: #3DB149;
  width: 100vw;
  height: 2px;
}
.header .header_nav .nav_lists .nav_list .dropdown.avtive {
  max-height: 500px; /* 서브메뉴 열림 시 최대 높이 설정 */
}
.header .header_nav .nav_lists .nav_list .dropdown .inner {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .image {
  background-color: #3DB149;
  position: relative;
  width: 410px;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .image span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  font-family: "Binggrae", sans-serif;
  display: block;
  position: absolute;
  right: 32px;
  top: 32px;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .image img {
  width: 100%;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .submenu {
  width: 870px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 98px;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .submenu ul {
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .submenu ul li {
  width: 190px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .submenu ul li:hover {
  background-color: #ECF8ED;
  color: #3DB149;
}
.header .header_nav .nav_lists .nav_list .dropdown .inner .submenu ul li a {
  width: 70%;
  display: inline-block;
  font-size: 18px;
  padding: 10px 0;
  font-family: "pretendard", sans-serif;
  text-align: left;
}
.header .header_icon {
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header_icon .header_icon_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100px;
}
.header .header_icon .header_icon_white li button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_icon .header_icon_white li button > img {
  width: 100%;
}
.header .header_icon .header_icon_white li a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_icon .header_icon_white li a > img {
  width: 100%;
}
.header .header_icon .header_icon_white li .close_btn {
  display: none;
}
.header .header_icon .header_icon_white li .close_btn > img {
  width: 100%;
}
.header .header_search {
  width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.header .header_search input {
  border-radius: 20px;
  width: 90%;
  border: 2px solid #EF4C41;
  padding: 10px 0;
  text-indent: 20px;
  font-size: 16px;
}
.header .header_search input::-webkit-input-placeholder {
  color: #989898;
}
.header .header_search input::-moz-placeholder {
  color: #989898;
}
.header .header_search input:-ms-input-placeholder {
  color: #989898;
}
.header .header_search input::-ms-input-placeholder {
  color: #989898;
}
.header .header_search input::placeholder {
  color: #989898;
}
.header .header_search .header_search_btn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 13%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.header .header_search .header_search_btn > img {
  width: 100%;
}

.responsive_header {
  display: none;
}

/************************************* Side_Menu *************************************/
.side_menu {
  position: fixed;
  z-index: 100;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
}
.side_menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.side_menu .side_menu_content {
  width: 160px;
  height: 100vh;
  background-color: #EF4C41;
  border-radius: 60px 0 0 60px;
  position: relative;
  padding-top: 75px;
}
.side_menu .side_menu_content > img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -85%;
  z-index: -5;
}
.side_menu .side_menu_content > img:hover {
  -webkit-animation-name: submenu;
          animation-name: submenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes submenu {
  0% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-4%) rotate(-8deg);
            transform: translateY(-50%) translateX(-4%) rotate(-8deg);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}
@keyframes submenu {
  0% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-4%) rotate(-8deg);
            transform: translateY(-50%) translateX(-4%) rotate(-8deg);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}
.side_menu .side_menu_content .side_menu_list li {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 130px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.side_menu .side_menu_content .side_menu_list li a {
  background-color: #fff;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 5px;
  border-radius: 15px;
}
.side_menu .side_menu_content .side_menu_list li a:hover span {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.side_menu .side_menu_content .side_menu_list li a img {
  width: 39px;
  height: 39px;
}
.side_menu .side_menu_content .side_menu_list li a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #343434;
  font-family: "Binggrae", sans-serif;
}

/*********************** Subpage_Main_Visual ****************************/
.subpage_main_visual {
  width: 100vw;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.subpage_main_visual img {
  width: 100%;
}
.subpage_main_visual .main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.subpage_main_visual .main_title .title h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Binggrae", sans-serif;
  color: #F5948D;
}
.subpage_main_visual .main_title .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  font-size: 24px;
  color: #F5948D;
}
.subpage_main_visual .main_title .address span:nth-child(2) .bi, .subpage_main_visual .main_title .address span:nth-child(4) .bi {
  font-size: 20px;
  padding: 0 5px;
}
.subpage_main_visual .main_title .address select {
  border-color: #F5948D;
  border-radius: 5px;
  padding: 2px;
  font-size: 18px;
  color: #F5948D;
}
/*********************** Subpage_Main_Contents ****************************/
.subpage_main_contents {
  position: relative;
  width: 100vw;
}
.subpage_main_contents .inner {
  margin: 0 auto;
  width: 1280px;
  /* Subpage_Test_Container 시험문제 */
}
.subpage_main_contents .inner .contents_title {
  top: -60px;
  border: 6px solid #F5948D;
  border-radius: 80px 80px 0 0;
  position: relative;
  width: 1280px;
  background-color: #fff;
  border-bottom: none;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subpage_main_contents .inner .contents_title h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 32px;
  font-family: "Binggrae", sans-serif;
  font-weight: bold;
  color: #3DB149;
}
.subpage_main_contents .inner .contents_desc {
  width: 100%;
  text-align: center;
  margin-top: -30px;
}
.subpage_main_contents .inner .contents_desc p {
  font-size: 20px;
  color: #343434;
}
.subpage_main_contents .inner .contents_test {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid rosybrown;
  margin: 150px 0;
}
.subpage_main_contents .inner .contents_test .test_desc {
  margin-top: 35px;
  margin-left: 65px;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide {
  margin: 0 auto;
  border: 4px solid #DB6565;
  border-radius: 30px;
  width: 360px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide:nth-child(3) {
  border: 4px solid #FFA446;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide:nth-child(3) span:nth-child(1) {
  background-color: #FFA446;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide:nth-child(5) {
  border: 4px solid #B3DA4C;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide:nth-child(5) span:nth-child(1) {
  background-color: #B3DA4C;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide span {
  display: block;
  font-size: 22px;
  color: #343434;
  font-weight: 600;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide span:nth-child(1) {
  background-color: #DB6565;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide span img {
  width: 35px;
  height: 35px;
}
.subpage_main_contents .inner .contents_test .test_desc .test_guide .guide_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}
.subpage_main_contents .inner .contents_test .test_desc .test_grade {
  color: #343434;
  margin-top: 35px;
}
.subpage_main_contents .inner .contents_test .test_desc .test_grade p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subpage_main_contents .inner .contents_test .test_desc .test_grade ul li {
  text-indent: 15px;
  list-style: inside;
}
.subpage_main_contents .inner .contents_test .test_desc .test_grade ul li:nth-child(2) {
  padding: 5px 0;
}
.subpage_main_contents .inner .contents_test .user_info {
  width: 37%;
  margin-right: 100px;
}
.subpage_main_contents .inner .contents_test .user_info h1 {
  font-size: 48px;
  margin-top: 60px;
  font-family: "Binggrae", sans-serif;
}
.subpage_main_contents .inner .contents_test .user_info .user {
  margin-left: 40px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input {
  text-indent: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input label {
  font-family: "Binggrae", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1em;
  color: #343434;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input input {
  width: 45%;
  border: 2px solid #EF4C41;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) {
  margin-top: 100px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) input::-webkit-input-placeholder {
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) input::-moz-placeholder {
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) input:-ms-input-placeholder {
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) input::-ms-input-placeholder {
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(1) input::placeholder {
  font-size: 15px;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(2) {
  margin: 50px 0;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(2) select {
  width: 45%;
  padding: 5px 15px;
  font-size: 15px;
  border: 2px solid #EF4C41;
  border-radius: 10px;
  /* -webkit-scrollbar */
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  background: url(/subPage/test/images/subpage_test_select_triangle.png) no-repeat 91% 50%;
  background-color: #fff;
}
.subpage_main_contents .inner .contents_test .user_info .user .user_input:nth-child(3) {
  margin-bottom: 90px;
}
.subpage_main_contents .inner .contents_test .user_info .test_btn {
  margin-right: 10%;
  width: 200px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Binggrae", sans-serif;
  border-radius: 30px;
  background-color: #F5948D;
  color: #fff;
  border: none;
  float: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 15px inset rgba(239, 76, 65, 0.5);
          box-shadow: 0px 0px 15px inset rgba(239, 76, 65, 0.5);
}
.subpage_main_contents .inner .contents_test .user_info .test_btn:hover {
  background-color: #EF4C41;
}
.subpage_main_contents .inner .test_wrap {
  width: 100%;
  border: 2px solid orange;
}
.subpage_main_contents .inner .test_wrap .test_container {
  width: 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question {
  margin: 100px auto 0;
  width: 900px;
  color: #343434;
  border: 2px solid crimson;
}
.subpage_main_contents .inner .test_wrap .test_container .question .question_image {
  width: 180px;
  height: 180px;
}
.subpage_main_contents .inner .test_wrap .test_container .question p {
  font-weight: 600;
  font-size: 22px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .text {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  display: inline-block;
  margin: 25px 0 25px 25px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .text p {
  font-weight: 400;
  font-size: 20px;
  padding: 30px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .question_text {
  margin-bottom: 35px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .question_text p {
  font-weight: 400;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid cornflowerblue;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper {
  position: relative;
  width: 180px;
  height: 180px;
  cursor: pointer;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -25px;
  background-position: 0%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper:nth-child(1)::before {
  background: url(/subPage/test/images/answer_num01.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper:nth-child(2)::before {
  background: url(/subPage/test/images/answer_num02.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper:nth-child(3)::before {
  background: url(/subPage/test/images/answer_num03.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper.active:nth-child(1)::before {
  background: url(/subPage/test/images/answer_num01.png) no-repeat 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper.active:nth-child(2)::before {
  background: url(/subPage/test/images/answer_num02.png) no-repeat 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper.active:nth-child(3)::before {
  background: url(/subPage/test/images/answer_num03.png) no-repeat 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .image_wrapper .answer_img {
  width: 180px;
  height: 180px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text {
  width: 250px;
  height: 50px;
  border: 1px solid green;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -25px;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text:nth-child(1)::before {
  background: url(/subPage/test/images/answer_num01.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text:nth-child(2)::before {
  background: url(/subPage/test/images/answer_num02.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text:nth-child(3)::before {
  background: url(/subPage/test/images/answer_num03.png) no-repeat 0;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text.active:nth-child(1)::before {
  background: url(/subPage/test/images/answer_num01.png) no-repeat 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text.active:nth-child(2)::before {
  background: url(/subPage/test/images/answer_num02.png) no-repeat 100%;
}
.subpage_main_contents .inner .test_wrap .test_container .question .answers .answer_text.active:nth-child(3)::before {
  background: url(/subPage/test/images/answer_num03.png) no-repeat 100%;
}
.subpage_main_contents .test_file, .subpage_main_contents .test_pencil {
  position: absolute;
}
.subpage_main_contents .test_file {
  top: 240px;
  z-index: -2;
  right: 0;
  width: 52%;
  height: 682px;
}
.subpage_main_contents .test_pencil {
  top: 35%;
  right: 20px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  z-index: -1;
  width: 428px;
  height: 465px;
}

/************************************* Footer *************************************/
footer {
  border-top: 3px solid #F5948D;
  width: 100vw;
  height: 320px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343434;
}
footer .footer_info {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .footer_info li {
  position: relative;
}
footer .footer_info li::after {
  content: "|";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -8px;
  color: #777;
}
footer .footer_info li:nth-child(2) {
  color: #EF4C41;
}
footer .footer_info li:last-child::after {
  display: none;
}
footer .footer_adress {
  font-size: 14px;
  margin: 53px 0;
}
footer .footer_adress > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_adress > div span {
  display: block;
  padding: 2px 5px;
  position: relative;
}
footer .footer_adress > div span::after {
  content: "|";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -2px;
  color: #777;
}
footer .footer_adress > div span:last-child::after {
  display: none;
}
footer .footer_copy {
  font-size: 14px;
  color: #989898;
}

/************************************* top btn *************************************/
.top_btn {
  position: fixed;
  bottom: 10%;
  right: 2.5%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.top_btn.visible {
  opacity: 1;
  visibility: visible;
}
.top_btn .top_btn_inside {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FEEEEC;
  display: inline-block;
  position: relative;
  border: 2px solid #fff;
}
.top_btn .top_btn_inside:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 100%;
  border: 3px dashed #EF4C41;
  -webkit-animation: top_btn_outside normal infinite 30s linear;
          animation: top_btn_outside normal infinite 30s linear;
}
.top_btn .top_btn_inside > img, .top_btn .top_btn_inside .top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.top_btn .top_btn_inside img {
  display: block;
  -webkit-transform: translateX(-50%) scale(0.9) rotate(-5deg);
          transform: translateX(-50%) scale(0.9) rotate(-5deg);
  top: 2%;
  -webkit-animation: arrow_click_induction normal infinite 2s linear;
          animation: arrow_click_induction normal infinite 2s linear;
}
.top_btn .top_btn_inside .top {
  font-family: "Luckiest Guy", sans-serif;
  color: #EF4C41;
  font-size: 26px;
  text-align: center;
  bottom: 5%;
  -webkit-animation: text_click_induction normal infinite 2s linear;
          animation: text_click_induction normal infinite 2s linear;
}

/* 반응형 top (복붙용) */
@media screen and (max-width: 768px) {
  .top_btn .top_btn_inside {
    width: 65px;
    height: 65px;
  }
  .top_btn .top_btn_inside:hover::after {
    width: 78px;
    height: 78px;
  }
  .top_btn .top_btn_inside img {
    width: 25%;
  }
  .top_btn .top_btn_inside .top {
    font-size: 23px;
  }
}
@media screen and (max-width: 390px) {
  .top_btn {
    right: 3.5%;
  }
  .top_btn .top_btn_inside {
    width: 60px;
    height: 60px;
  }
  .top_btn .top_btn_inside:hover::after {
    width: 75px;
    height: 75px;
  }
  .top_btn .top_btn_inside img {
    width: 25%;
  }
  .top_btn .top_btn_inside .top {
    font-size: 21px;
    bottom: 8%;
  }
}